<h1><%= @work.name %></h1>
<ul>
  <li><%= @work.description %></li>
  <li><img src='<%= @work.image_url %>'></li>
</ul>

<ul>
  <% @work.reviews.each do |review| %>
    <li>
      <%= link_to review.content, work_review_path(review) %>
    </li>
 <% end %>
</ul>

<p><%= link_to "Edit", edit_work_path(@work) %></p>
<p><%= link_to "Delete", work_path(@work),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
